.side-nav {
  background-color: #252525;
  height: 100%;
}

.main-container {
  background-color: #EEF1F4;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

html, body {
  height: 100%;
}

button.login-btn {
  color: white;
  background: transparent;
  border: 0;
  font-weight: bold;
  width: 100%;
  display: block;
  line-height: 4.7em;
}

.header-panel {
  width: 100%;
  display: block;
  margin: 0;
  padding: 15px 0;
  vertical-align: middle;
  background-color: white;
  border-bottom: 1px solid rgb(223,223,223);
}

.search-container {
  white-space: nowrap;
  position: relative;
}

.search-bar .icon{
  position: absolute;
  z-index: 1;
  color: #4f5b66;
}

input.search-bar {
  min-height: 40px;
  vertical-align: middle;
  border-radius: 5px;
  width: 70%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 0;
  margin: 0 auto;
  color: #5D5D5D;
  padding-left: 5%;
  background-color: #F0F0F0;
}

.notification-icons {
  display: inline-block;
    vertical-align: middle;
    float: left;
}

.logout-btn {
  display: inline-block;
    vertical-align: middle;
    float: right;
}

.fill {
  min-height: 100%;
  height: 100%;
}

button.active-item {
  color: white !important;
  background-color: #313131 !important;
}

.no-padding {
  padding: 0;
}

.glyphicon {
  padding: 0 5px;
}

button.nav-item {
  background: transparent;
  border: 0;
  color: #91959C;
}

button.nav-item:active {
  background: transparent;
  color: white;
}

button.nav-item:hover {
  background: transparent;
  color: white;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-align > [class^="col-"] > div,
.vertical-align > [class*=" col-"] > div {
  flex-grow: 1;
}
